body {
  background-color: #666;
  color: #6b6;
  font-family: Arial, Helvetica, sans-serif;
}

#grid_table {
  border-collapse: collapse;
}

.cell {
  width: 1.5em;
  height: 1.5em;
  background-color: #777;
  border: 1px dashed darkgray;
}

.snake {
  background-color: #6b6;
}

.fruit {
  background-color: rgb(193, 31, 9);
}
